<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page Title</title>
  <link rel="stylesheet" href="styles.css"> <!-- You can link your CSS file here if you have one -->
</head>
<body>
  <div class="page-container">
    <div class="navicon">
      <i>Menu</i>
    </div>
    
    <header>
      <h1 class="wow fadeInDown">Ed Adams</h1>
    </header>

    <ul class="work">
      <li>
        <figure>
          <img class="wow fadeInLeft" src="http://placehold.it/700x400" alt="Image 1">
          <figcaption class="wow fadeInRight">
            <div class="info name">
              <span class="label">Name</span>
              <span class="value">Example client</span>
            </div>
            <div class="info">
              <span class="label">Role</span>
              <span class="value">Designer, developer, content author</span>
            </div>
            <div class="info">
              <span class="label">Tools</span>
              <span class="value">WordPress, HTML5, CSS3</span>
            </div>
            <div class="info">
              <span class="label">Date</span>
              <span class="value">January 2014</span>
            </div>
            <div class="info">
              <a class="button" href="#0">View the site</a>
            </div>
          </figcaption>
        </figure>
      </li>

      <!-- Repeat the li blocks for the remaining items -->

    </ul>

    <footer>
      <div class="inner">
        My name is Edward Adams, but you can just call me a website guy. That's what I do. I hope that you like my work because I'd like to work with you.
        <a class="button" href="#0">Contact me</a>
      </div>
    </footer>

    <nav class="menu">
      This<br><br><br>is<br><br><br>a<br><br><br>nav<br><br><br>eventually
    </nav>
  </div>
</body>
</html>
